<?xml version="1.0"?>
<!-- Launch file for AI-controlled Pac-man game.  -->
<!-- Requires manually launching 'game' first.  -->
<launch>

<node ns="pacman" 
      name="ai_controller"
      pkg="pacman"
      type="robot_actuation.py"
      output="screen" 
      args="--robot_ns pacman"
/>
<node ns="blinky" 
      name="ai_controller"
      pkg="pacman"
      type="robot_actuation.py"
      output="screen" 
      args="--robot_ns blinky"
/>

<node ns="pinky" 
      name="ai_controller"
      pkg="pacman"
      type="robot_actuation.py"
      output="screen" 
      args="--robot_ns pinky"
/>

<node ns="inky" 
      name="ai_controller"
      pkg="pacman"
      type="robot_actuation.py"
      output="screen" 
      args="--robot_ns inky"
/>

<node ns="clyde" 
      name="ai_controller"
      pkg="pacman"
      type="robot_actuation.py"
      output="screen" 
      args="--robot_ns clyde"
/>

<node name="scorekeeper"
      pkg="pacman"
      type="scorekeeper.py"
      output="screen" 
/>

</launch>
